In [1]:
import pandas as pd
import numpy as np

In [31]:
a = np.array([np.random.uniform(1, 50) for x in range(50)])
b = a*2
c = a+b
d = b*4
df1 = pd.DataFrame({'a': a, 'b': b, 'c': c, 'd': d})
df2 = pd.DataFrame({'x': df1.a, 'z': df1.c})
df2.head()

           x           z
0  18.896428   56.689285
1   3.000499    9.001496
2  49.684048  149.052144
3  33.631917  100.895752
4  28.038111   84.114332

In [55]:
df1[str]#.equals(df2.z)

0     18.896428
1      3.000499
2     49.684048
3     33.631917
4     28.038111
5     13.081952
6     22.778927
7     18.941213
8     18.578803
9     47.359423
10    31.552276
11     2.881561
12    28.806910
13     2.561983
14    20.546666
15    12.388533
16    36.418345
17    28.985262
18    28.896447
19    32.373300
20    32.990030
21     7.492979
22    36.501552
23    25.055775
24    32.458496
25    45.303274
26    17.016028
27    49.624639
28     7.832713
29     3.740068
30    24.415903
31    26.552306
32     6.820086
33     2.009532
34    36.189018
35    12.201166
36     8.807943
37    12.334496
38    41.253233
39    11.827629
40     9.574618
41     3.213946
42    12.392230
43    16.886697
44     7.034608
45    40.449823
46    44.982955
47    42.405752
48    27.856169
49    45.629070
Name: a, dtype: float64

In [32]:
columns = {}
for col in df2:
    if

a
b
c
d